/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/epitopeprediction -profile test_grcm39,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '2.h'
    ]
}

params {

    config_profile_name = 'Test profile (mouse GRCm39)'
    config_profile_description = 'Minimal mouse variant test dataset to check pipeline function'

    // Input data
    input  = params.pipelines_testdata_base_path + 'epitopeprediction/testdata/sample_sheets/sample_sheet_variants_grcm39.csv'
    tools = 'mhcnuggets'
    // Reduce number of possible peptide lengths to speed up test
    min_peptide_length_classI = 9
    max_peptide_length_classI = 10

    // GRCm39 chr15/18/19 subset: 3 variants (missense, in-frame deletion, frameshift), ~4 MB in total.
    vep_species       = 'mus_musculus'
    vep_genome        = 'GRCm39'
    vep_cache_version = 110
    ref_fasta   = params.pipelines_testdata_base_path + 'epitopeprediction/testdata/references/vep/grcm39_chr15_chr18_chr19_ref.fa.gz'
    vep_cache   = params.pipelines_testdata_base_path + 'epitopeprediction/testdata/references/vep/grcm39_chr15_chr18_chr19_cache.tar.gz'
}
