/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for testing allele chunking
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    `Mamu-all` on MHCflurry exceeds the per-invocation allele cap, so alleles are chunked and re-merged.

    Use as follows:
        nextflow run nf-core/epitopeprediction -profile test_allele_chunking,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'Allele chunking test profile'
    config_profile_description = 'Pan-species prediction that splits the allele list into chunks'

    input = params.pipelines_testdata_base_path + 'epitopeprediction/testdata/sample_sheets/sample_sheet_allele_chunking.csv'
    tools = 'mhcflurry'
}
