/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/epitopeprediction -profile test_netmhc,<docker/singularity> --outdir <OUTDIR>
 */

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '48.h'
    ]
}

params {
    config_profile_name = 'NetMHC Test Profile'
    config_profile_description = 'Peptide list based test profile for NetMHC'

    input  = params.pipelines_testdata_base_path + 'epitopeprediction/testdata/sample_sheets/sample_sheet_peptides.csv'
    tools = 'netmhc-4.0'
    netmhc_path = './non-free/netmhc.tar.gz'
}
