/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/epitopeprediction -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '2.h'
    ]
}

params {

    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal variant test dataset to check pipeline function'

    // Input data
    input  = params.pipelines_testdata_base_path + 'epitopeprediction/testdata/sample_sheets/sample_sheet_variants.csv'
    tools = 'mhcnuggets'
    // Reduce number of possible peptide lengths to speed up test
    min_peptide_length_classI = 9
    max_peptide_length_classI = 10

    // References for the VEP + pvacseq variant path.
    // NOTE: needs a *small* single-region VEP Ensembl cache in nf-core/test-datasets
    //       (a full cache is ~25-31 GB). Until that exists, run this profile on a machine
    //       with a real cache; CI uses the self-contained stub test (tests/variant_stub.nf.test).
    vep_species       = 'homo_sapiens'
    vep_genome        = 'GRCh38'
    vep_cache_version = 110
    ref_fasta   = params.pipelines_testdata_base_path + 'epitopeprediction/testdata/references/vep/grch38_chr21_ref.fa'
    vep_cache   = params.pipelines_testdata_base_path + 'epitopeprediction/testdata/references/vep/grch38_chr21_cache'
}
