/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/epitopeprediction -profile test_netmhc,<docker/singularity> --outdir <OUTDIR>
 */

params {
    config_profile_name = 'NetMHC Test Profile'
    config_profile_description = 'Peptide list based test profile for NetMHC'

    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/epitopeprediction/testdata/sample_sheets/sample_sheet_peptides.csv'

    tools = 'netmhc-4.0'
    netmhc_path = './non-free/netmhc.tar.gz'
}
