/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/epitopeprediction -profile test_vcf
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  
  // Input data
  input = 'https://github.com/nf-core/test-datasets/raw/epitopeprediction/testdata/variants/variants.vcf'
  alleles = 'https://github.com/nf-core/test-datasets/raw/epitopeprediction/testdata/alleles/alleles.txt'
}
