/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/epitopeprediction -profile test_mhcnuggets,<docker/singularity> --outdir <OUTDIR>
 */

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '48.h'
    ]
}

params {
    config_profile_name = 'Test MHCnuggets profile'
    config_profile_description = 'Test MHCnuggets prediction'

    input  = params.pipelines_testdata_base_path + 'epitopeprediction/testdata/sample_sheets/sample_sheet_variants_class1_and_2.csv'
    tools = 'mhcnuggets,mhcnuggetsii'
    // Reduce number of possible peptide lengths to speed up test
    min_peptide_length_classI = 9
    max_peptide_length_classI = 10
    min_peptide_length_classII = 14
    max_peptide_length_classII = 15
}
