name: nf-core CI external
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  workflow_dispatch:

env:
  NXF_ANSI_LOG: false
  CAPSULE_LOG: none

jobs:
  netmhc:
    name: Run NetMHC tool family tests
    runs-on: ubuntu-latest
    env:
      NXF_VER: ${{ matrix.nxf_ver }}
    strategy:
      matrix:
        include:
          # Test pipeline minimum Nextflow version
          - NXF_VER: "21.10.3"
            NXF_EDGE: ""
          # Test latest edge release of Nextflow
          - NXF_VER: ""
            NXF_EDGE: "1"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v2

      - name: Install non-free software
        env:
          DECRYPT_PASSPHRASE: ${{ secrets.TEST_NETMHC }}
        run: |
          mkdir -v non-free
          curl -L https://raw.githubusercontent.com/nf-core/test-datasets/epitopeprediction/software/non-free-software.tar.gpg | ${GITHUB_WORKSPACE}/bin/decrypt | tar -C non-free -v -x

      - name: Install Nextflow
        env:
          NXF_VER: ${{ matrix.NXF_VER }}
          # Uncomment only if the edge release is more recent than the latest stable release
          # See https://github.com/nextflow-io/nextflow/issues/2467
          # NXF_EDGE: ${{ matrix.NXF_EDGE }}
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/
      - name: Run pipeline with NetMHC
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test_netmhc,docker --outdir ./results
      - name: Run pipeline with NetMHCpan
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test_netmhcpan,docker --outdir ./results
